<ion-content class="padding common" has-bouncing="true">
	<h1 class="common_header">Scenarios</h1>

	<!-- <div class="list scenario_list">
	  <div class="item item-divider">
	    Collect sample for analysis
	  </div>
	  <a class="item" ng-click="goTo()">
	    Before sample collection
	  </a>
	  <a class="item" href="#/tab/scenarios/collect_sample">
	    During sample collection
	  </a>
	  <a class="item" href="#/tab/scenarios/collect_sample">
	    After sample collection
	  </a>
	  <a class="item" href="#/tab/scenarios/collect_sample">
	    Sample analysis
	  </a>
		</div> -->

	<br>
	<ion-list>
  		<ion-item ng-href="#/tab/scenarios/collect_sample">
    		1. Collect sample for analysis
  		</ion-item>
	</ion-list>
</ion-content>
