<ion-content class="padding common" has-bouncing="true">

<h1 class="common_header">Collect Sample for Analysis</h1>

<div class="common_content">
	<div class="scenario_paragraph">
		<div class="row">	
			<div class="col col-100">	
				<h3 id="before" style="color:#fff; text-decoration: underline"> Before sample collection: </h3>
				<ul style="list-style-type: disc; list-style-position: inside"> 
					<li> 
						When taking a sample for Ebola diagnostics, remember to use the appropriate <b> Protection and Clothing </b>, i.e. personal protective equipment (PPE) 
						<br>
						(a few words here on how Ebola spreads and don’t spread)
					</li>
					<br>
					<li>
						<b> Timing </b> of sample collection: Virus is detectable 3-10 days after symptoms appear. If the
						onset of symptoms is less than 3 days, a later specimen may be needed to completely rule-out
						Ebola virus.
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col col-100">
				<h3 id="during" style="color:#fff; text-decoration: underline"> During sample collection: </h3>
				<ul style="list-style-type: disc; list-style-position: inside"> 
					<li> 
						<b> Whole blood </b> is used for Ebola diagnostics. <b> At least 4 mL </b> is needed for analysis.
					</li>
					<br>
					<li>
						For <b> collection </b>, use plastic collection tubes. Do not use glass vials or heparinized tubes.
						EDTA preservative is best, but SPS, citrate, or clot activator is acceptable.
					</li>
					<br>
					<li>
						Take the sample and label the vials.
					</li>
					<br>
					<li>
						<b> Dispose needles and syringes </b> in a puncture-resistant container. Then burn the container
						in an incinerator or pit for burning. If puncture-resistant containers are not available, use empty water, oil, or bleach bottles made with plastic or other burnable material. Do not 
						use resuable needles and syringes.
					</li>
					<br>
					<li>
						Do not separate and remove plasma and serum.
					</li>
					<br>
					<li>
						Immediately <b> store  </b> or <b> transport </b> the specimen in 2-8 C or frozen on dry ice or cold-packs.
					</li>
					<br>
					<li>
						Pack the specimen according to:
					</li>
					<br>
					<li>
						If you <b> spill blood and/or body fluids </b>, remove bulk spill matter, clean the site, and then disinfecting the site. Use a disinfectant with a higher potency than what is normally required for an enveloped virus. Disinfectants with label claims against non-enveloped viruses are preferred.
					</li>
					<br>
				</div>
			</div>
			<li>
				If you have an <b> accidental needlestick injury </b>:
				<div class="row">
					<div class="col col-10">
					</div>
					<div class="col col-90">
						<ul style="list-style-type: disc; list-style-position: inside">
							<li>
								Immerse the exposed site in 70% alcohol for 20- 30 sec, and wash with soap and
								clean water.
							</li>
							<li>
								Flush the site in running water for 20 - 30 sec.
							</li>
							<li>
								If needed, cover with a dressing.
							</li>
						</ul>
					</div>
				</div>
			</li>
			<br>
			<li>
				If you have an <b> accidental contact with infectious body fluids </b>:
				<div class="row">
					<div class="col col-10">
					</div>
					<div class="col col-90">
						<ul style="list-style-type: disc; list-style-position: inside">
							<li>
								Flush the area in the most appropriate manner with soap and clean water. If a
								splash occurs in the eye, flush it with clean water.
							</li>
							<li>
								Leave the isolation area and remove the protective clothing as recommended.
							</li>
							<li>
								Take a shower and put on street clothes.
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>

		<h3 id="after" style="color:#fff; text-decoration: underline"> After sample collection: </h3>
		<ul style="list-style-type: disc; list-style-position: inside"> 
			<li> 
				<b> Transport </b>: Specimens should be placed in a durable, leak-proof secondary container for transport within a facility. Do not use any pneumatic tube system.
			</li>
			<br>
			<li>
				<b> Laboratory Waste </b>: Place waste in leak-proof containment. Place this bag in a rigid
				waste container designed for this use. If available, steam sterilization (autoclave) or
				incineration as a waste treatment process can inactivate the virus and reduces waste
				volume.
			</li>
		</ul>

		<div id="analysis"></div>
		<h3 style="color:#fff; text-decoration: underline"> Analysis of the sample: </h3>
		<ul style="list-style-type: disc; list-style-position: inside"> 
			<li> 
				Acute infections will be confirmed using a <b> real-time RT-PCR assay. </b>
				<br>
				(we might either go into detail here, or refer to local methods. Let’s see what PiH says.)
			</li>
			<br>
			<li>
				<b> Specimen Processing </b>
				<div class="row">
					<div class="col col-10">
					</div>
					<div class="col col-90">
						<ul style="list-style-type: disc; list-style-position: inside">
							<li>
								<b> Sample Preparation </b>
							</li>
							<li>
								<b> Equipment, Reagents </b>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<br>
			<li>
				<b> Speciment Identification </b>
				<div class="row">
					<div class="col col-10">
					</div>
					<div class="col col-90">
						<ul style="list-style-type: disc; list-style-position: inside">
							<li>
								PCR
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

</ion-content>
